:root {
  /* globals */
  --mdx-font-family: 'Roboto', sans-serif;

  /* font-sizes */
  --mdx-font-size-s: 14px;
  --mdx-font-size-m: 16px;
  --mdx-font-size-xl: 24px;

  /* line-heights */
  --mdx-line-height-xs: 21px;
  --mdx-line-height-s: 24px;
  --mdx-line-height-m: 28px;
  --mdx-line-height-l: 36px;
}
