.loader {
  display: inline-block;

  box-sizing: border-box;

  border: 5px solid var(--color-accent-500);
  border-bottom-color: transparent;
  border-radius: 50%;

  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} 