.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
}

.content {
  position: relative;

  min-width: 134px;
  padding: 10px 0;

  background-color: var(--color-bg-element);
  border: 1px solid var(--color-border-input-primary);
  border-radius: var(--border-radius-s);
}

.itemsBox {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.arrowBox {
  fill: var(--color-bg-element);
  stroke: var(--color-border-input-primary);
  stroke-width: 2px;
}

.arrow {
  position: absolute;
  top: -3px;
  left: calc(50% - 3px);
  transform: rotate(45deg);

  width: 6px;
  height: 6px;

  background-color: var(--color-bg-element);
  border: 1px solid var(--color-border-input-primary);
  border-top: none;
  border-left: none;
}

.item {
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;

  height: 36px;
  padding: 0 16px;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);

  outline: none;

  &:hover:enabled,
  &:focus:enabled {
    opacity: 0.7;
  }

  &[data-disabled] {
    pointer-events: none;
    cursor: unset;
    color: var(--color-action-disabled);
  }
}

.itemIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
}
