.root {
  pointer-events: none;
  width: 1rem;
  height: 1rem;
  animation: fade-in 0.3s ease forwards;
}

.button {
  all: unset;
  cursor: pointer;
  display: flex;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
