.codeBlock {
  position: relative;
  margin-top: 1.5rem;

  &:first-child {
    margin-top: 0;
  }
}

.filename {
  position: absolute;
  z-index: 1;
  top: 0;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0.5rem 1rem;

  font-size: 0.75rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: hsl(var(--primary-hue) 100% 39% / 5%);
  border-radius: 0.375rem 0.375rem 0 0;
}

.preCommon {
  overflow-x: auto;

  margin: 0;

  font-size: 0.9em;

  border-radius: 0.5rem;

  -webkit-font-smoothing: antialiased;
}

.preWithFilename {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.preWithoutFilename {
  padding: 1rem 0;
}

.controlDiv {
  position: absolute;
  right: 0;

  display: flex;
  gap: 0.25rem;

  margin: 11px 0 0 -11px;
}

.top8 {
  top: 2rem;
}

.top0 {
  top: 0;
}

.mdHidden {
  @media (width >= 768px) {
    display: none;
  }
}

.iconDimensions {
  pointer-events: none;
  width: 1rem;
  height: 1rem;
}
