.box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  margin-bottom: 9px;
  font-size: var(--font-size-s);
  color: var(--color-text-secondary);
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.iconStart {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  width: 20px;
  height: 20px;
}

.iconEnd {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  width: 20px;
  height: 20px;
}

.input {
  width: 100%;
  height: 36px;
  padding: 6px 12px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-text-primary);

  background-color: var(--color-bg-element);
  border: 1px solid var(--color-border-input-primary);
  border-radius: var(--border-radius-s);
  outline: none;

  transition: var(--transtition-duration-basic) background-color,
    var(--transtition-duration-basic) color, var(--transtition-duration-basic) border-color;

  &::placeholder {
    color: var(--color-text-secondary);
  }

  &:disabled {
    color: var(--color-text-disabled);
  }

  &:focus,
  &:active:enabled {
    border-color: var(--color-border-input-active);
  }

  &.error {
    border-color: var(--color-accent-500);
  }

  &:hover:not(&:disabled) {
    background-color: var(--color-bg-input-hover);
  }

  &[data-icon*='start'] {
    padding-left: 36px;
  }

  &[data-icon*='end'] {
    padding-right: 36px;
  }
}

.clearButton {
  all: unset;

  cursor: pointer;

  position: absolute;
  right: 5px;

  width: 20px;
  height: 20px;
}
