.container {
  display: flex;
  align-items: center;
}

.root {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  background-color: #fffefe;
  border: 1px solid var(--color-text-primary);
  border-radius: 2px;

  &[data-state='checked'] {
    background-color: var(--color-text-primary);
  }
}

.label {
  display: flex;
  align-items: center;

  padding-left: 12px;

  font-size: 14px;
  line-height: 16px;
  color: var(--color-text-primary);
}
