.table {
  color: var(--color-text-primary);
  border-collapse: collapse;

  border: 1px solid var(--color-bg-dividers);
  border-radius: var(--border-radius-s);
}

.headCell {
  padding: 10px 12px;

  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: 600;

  background-color: var(--color-bg-dividers);

  &:last-child {
    padding-right: 24px;
  }

  &:first-child {
    padding-left: 24px;
  }
}

.tableCell {
  padding: 8px 12px 3px 12px ;

  border-bottom: 1px solid var(--color-bg-dividers);

  &:last-child {
    padding-right: 24px;
  }

  &:first-child {
    padding-left: 24px;
  }
}
