.search input {
  padding-left: 40px;

  background-image: url("../../../assets/icons/search/search.svg");
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 16px 16px;
}
