.container {
  display: flex;
  align-items: center;
}

.label {
  cursor: pointer;

  display: flex;
  align-items: center;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-text-primary);

  &.tight {
    gap: 8px;
    align-items: flex-start;
  }

  &.disabled {
    cursor: default;
    color: var(--color-checkbox-disabled);
  }
}

.root {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: var(--color-bg-primary);
  border: 2px solid var(--color-border-secondary);
  border-radius: 2px;

  &:focus {
    background-color: var(--color-bg-focus);
  }

  &:disabled {
    cursor: initial;
    border-color: var(--color-checkbox-disabled);
  }

  &[data-state='checked']:disabled {
    background-color: var(--color-checkbox-disabled);
  }
}

.buttonWrapper {
  cursor: pointer;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background-color: rgb(255 255 255 / 0%);
  border-radius: 50%;

  &.tight {
    margin: -6px;
  }

  &.disabled {
    cursor: initial;
  }

  &:focus-within,
  &:hover:not(.disabled),
  &:hover:not(.disabled) .root:not([data-state='checked']) {
    background-color: var(--color-bg-focus);
  }

  &:active:not(.disabled) {
    background-color: var(--color-bg-primary-active);
  }
}

.indicator {
  width: 24px;
  height: 24px;
}
