:root {
  /* globals */
  --font-family: 'Roboto', sans-serif;

  /* font-sizes */
  --font-size-sx: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;

  /* line-heights */
  --line-height-sx: 14px;
  --line-height-s: 16px;
  --line-height-m: 19px;
}
