.box {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 9px;
  font-size: var(--font-size-s);
  color: var(--color-text-secondary);
}

.inputContainer {
  position: relative;
}

.iconStart {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  width: 20px;
  height: 20px;
}

.iconEnd {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  width: 20px;
  height: 20px;
}

.input {
  width: 100%;
  padding: 9px 12px 8px;

  font-size: var(--font-size-l);
  line-height: var(--line-height-m);
  color: var(--color-text-primary);

  background-color: var(--color-bg-element);
  border: 1px solid var(--color-border-input-primary);
  border-radius: var(--border-radius-s);
  outline: none;

  transition: var(--transtition-duration-basic) background-color,
    var(--transtition-duration-basic) color, var(--transtition-duration-basic) border-color;

  &::placeholder {
    color: var(--color-text-secondary);
  }

  &:active,
  &:focus {
    border-color: var(--color-border-input-active);
  }

  &.error {
    border-color: var(--color-accent-500);
  }

  &:disabled {
    color: var(--color-text-disabled);
  }

  &:hover:not(&:disabled) {
    background-color: var(--color-bg-input-hover);
  }

  &[data-icon~='start'] {
    padding-left: 36px;
  }
}

.errorText {
  margin: 4px 0 0;
  font-size: var(--font-size-sx);
  line-height: var(--line-height-sx);
  color: var(--color-accent-500);
}
