.button {
  all: unset;

  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  color: var(--color-info-400);
  text-decoration: underline;
  cursor: pointer;
}

.button:hover {
  text-decoration: none;
}
