.button {
  all: unset;
  margin-left: 5px;

  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  color: var(--color-info-400);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}
