.input {
  width: 255px;
}

.day {
  &:global(.react-datepicker__day--in-selecting-range) {
    background-color: var(--color-action-hover);
    border-radius: 0;
  }

  &:global(.react-datepicker__day--selecting-range-start) {
    border-radius: 50% 0 0 50%;
  }

  &:global(.react-datepicker__day--selecting-range-end) {
    border-radius: 0 50% 50% 0;
  }

  &:global(.react-datepicker__day--in-range) {
    background-color: var(--color-action-hover);
    border-radius: 0;
  }

  &:global(.react-datepicker__day--range-start) {
    border-radius: 50% 0 0 50%;
  }

  &:global(.react-datepicker__day--range-end) {
    border-radius: 0 50% 50% 0;
  }
}
