@mixin typography($fontSize, $lineHeight, $fontWeight) {
  margin: 0;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

.headline1 {
  @include typography(var(--font-size-xll), var(--line-height-xl), 700);
}

.headline2 {
  @include typography(var(--font-size-xl), var(--line-height-m), 600);
}

.headline3 {
  @include typography(var(--font-size-l), var(--line-height-m), 500);
}

.subtitle1 {
  @include typography(var(--font-size-m), var(--line-height-m), 500);
}

.subtitle2 {
  @include typography(var(--font-size-s), var(--line-height-m), 500);
}

.body1 {
  @include typography(var(--font-size-m), var(--line-height-m), 400);
}

.body2 {
  @include typography(var(--font-size-s), var(--line-height-m), 400);
}

.overline {
  @include typography(var(--font-size-s), var(--line-height-m), 700);

  text-transform: uppercase;
}

.caption {
  @include typography(var(--font-size-s), var(--line-height-m), 400);
}
