html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--font-family);
  line-height: var(--line-height-m);
  color: var(--color-text-primary);

  background-color: var(--color-bg-body);
}

* {
  scrollbar-color: var(--color-bg-action) transparent;
  scrollbar-width: thin;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-bg-action);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-bg-secondary-hover);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--color-bg-secondary-hover);
}
