:root {
  /* border-radius */
  --border-radius-s: 2px;
  --border-radius-m: 4px;
  --border-radius-l: 10px;

  /* outlines */
  --outline-focus: 2px solid var(--color-outline-focus);

  /* transitions */
  --transtition-duration-basic: 200ms;

  /* effects */
  --tag-box-shadow: 0px 2px 10px rgb(109 109 109 / 25%), inset 0px 1px 0px rgb(255 255 255 / 30%);

  /* z-indexes */
  --z-index-header: 10;
  --z-index-sidebar: 20;
  --z-index-sidebar-overlay: 19;
  --z-index-modal-overlay: 100;
  --z-index-modal-content: 101;
}

:root .dark-mode {
  --tag-box-shadow: 0px 2px 18px rgb(54 80 109 / 25%), inset 0px 1px 0px rgb(79 79 79 / 30%);
}
