:root {
  /* border-radius */
  --border-radius-s: 2px;
  --border-radius-m: 4px;
  --border-radius-l: 10px;

  /* outlines */
  --outline-focus: 2px solid var(--color-outline-focus);

  /* transitions */
  --transtition-duration-default: 200ms;
}
