:root {
  /* border-radius */
  --border-radius-s: 2px;
  --border-radius-l: 10px;

  --outline-focus: 2px solid var(--color-outline-focus);

  /* effects */
  --tag-box-shadow: 0px 2px 10px rgba(109, 109, 109, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}

:root .dark-mode {
  --tag-box-shadow: 0px 2px 18px rgba(54, 80, 109, 0.25), inset 0px 1px 0px rgba(79, 79, 79, 0.3);
}
