:root {
  /* globals */
  --font-family: 'Roboto', sans-serif;

  /* font-sizes */
  --font-size-sx: 12px;
  --font-size-s: 14px;
  --font-size-m: 18px;
  --font-size-l: 16px;

  /* line-heights */
  --line-height-sx: 14px;
  --line-height-s: 16px;
  --line-height-m: 21px;
  --line-height-l: 24px;

  /* texts */
  --font-size-subtitle1: 16px;
  --line-height-subtitle1: 24px;
  --font-size-subtitle2: 14px;
  --line-height-subtitle2: 24px;
}
