:root {
  /* globals */
  --font-family: 'Roboto', sans-serif;

  /* font-sizes */
  --font-size-sx: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 22px;

  /* line-heights */
  --line-height-m: 24px;
  --line-height-xl: 36px;

  /* font-weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}
