@mixin button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.75rem;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 2rem;
}

.primary {
  @include button;


  color: var(--color-neutral-light-50);
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px rgb(245 26 81 / 35%), inset 0 1px 0 rgb(255 255 255 / 30%);


  :global(.dark-mode) & {
    color: var(--color-neutral-light-50);
    background-color: var(--color-accent-500);
    box-shadow: 0 4px 18px rgb(227 26 101 / 35%), inset 0 1px 0 rgb(0 0 0 / 30%);
  }

  &:hover,
  &:focus {
    background-color: var(--color-accent-400);
  }

  &:active {
    background-color: var(--color-accent-600);
  }
}

.secondary {
  @include button;

  color: var(--button-secondary-color);
  background-color: var(--color-neutral-light-50);
  box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);

  :global(.dark-mode) & {
    color: var(--color-neutral-light-50);
    background-color: var(--color-dark-mode-400);
    &:active {
      color: var(--color-neutral-dark-900);
      background-color: var(--color-neutral-light-50);
      box-shadow: 0 2px 10px rgba(5, 23, 49, 0.35);
    }
  }
}

.outlined {
  @include button;

  color: var(--color-accent-500);
  background-color: var(--color-neutral-light-50);
  border: 0.09rem solid var(--color-accent-500);
  /// Есть вопрос по указанию значения для 1rem

  &:hover,
  &:focus {
    color: var(--color-accent-400);
    background-color: var(--color-accent-50);
    border-color: var(--color-accent-400);
  }

  &:active {
    color: var(--color-accent-600);
    background-color: var(--color-accent-50);
    border-color: var(--color-accent-600);
  }

  :global(.dark-mode) & {
    background-color: var(--color-dark-mode-700);
    &:active {
      color: var(--color-accent-600);
      background-color: var(--color-accent-900);
    }
    &:hover,
    &:focus {
      background-color: rgba(245, 26, 81, 0.1);
      /// В палитре нету такого цвета с прозрачностью
    }
  }
}
