.prose {
  a {
    color: #4891f7;

    &:visited {
      color: #4891f7;
    }

    &:hover {
      color: #76acf9;
    }

    &:active {
      color: #155ec4;
    }
  }

  ul,
  ol,
  li,
  p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  & > p {
    margin-top: 1.5rem;
    line-height: 1.75rem;

    &:first-child {
      margin-top: 0;
    }
  }

  & h1 {
    margin-top: 0.5rem;

    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.025em;
  }

  & h2 {
    margin-top: 2.5rem;
    padding-bottom: 0.25rem;

    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.25rem;
    letter-spacing: -0.025em;

    border-bottom-width: 1px;
  }

  & h3 {
    margin-top: 2rem;

    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: -0.025em;
  }

  & h4 {
    margin-top: 2rem;

    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    letter-spacing: -0.025em;
  }

  & h5 {
    margin-top: 2rem;

    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.75rem;
    letter-spacing: -0.025em;
  }

  & h6 {
    margin-top: 2rem;

    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.025em;
  }

  & ul {
    margin: 1.5rem 0 0 1.5rem;
    list-style-type: disc;

    &:first-child {
      margin-top: 0;
    }

    .prose li > & {
      margin-block: 0.5rem;
    }

    :global(.task-list-item) {
      margin-block: 0.2rem;
      list-style-type: none;

      ul:global(.contains-task-list) {
        margin: 0 0 0 1rem;
      }
    }
  }

  & ol {
    margin: 1.5rem 0 0 1.5rem;
    list-style-type: decimal;

    &:first-child {
      margin-top: 0;
    }

    .prose li > & {
      margin-block: 0.5rem;
    }
  }

  & li {
    margin-inline: 0.5rem;
  }

  & blockquote {
    margin-top: 1.5rem;
    padding-left: 1.5rem;

    font-style: italic;
    color: #374151;

    border-left: 4px solid #d1d5db;

    :global(.dark-mode) & {
      color: rgb(156 163 175);
      border-color: #9ca3af;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  & hr {
    margin-block: 2rem;
  }

  & img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  & code {
    padding: 0.125rem 0.25em;

    font-size: 0.9em;
    overflow-wrap: break-word;

    background-color: rgb(0 0 0 / 3%);
    border: 1px solid rgb(0 0 0 / 4%);
    border-radius: 0.375rem;
  }

  & pre {
    contain: paint;

    & code {
      display: grid;

      min-width: 100%;
      padding: 0;

      font-size: 0.875rem;
      line-height: 1.25rem;
      color: currentcolor;

      background-color: transparent;
      border-style: none;
      border-radius: 0;

      [data-line] {
        padding-inline: 1rem;

        &[data-highlighted-line] {
          color: rgb(0 107 230 / 50%);
          background-color: rgb(0 107 230 / 10%);
          box-shadow:
            rgb(0 0 0 / 0%) 0 0 0 0,
            rgb(0 0 0 / 0%) 0 0 0 0,
            rgb(0 107 230 / 50%) 2px 0 0 0 inset;

          :global(.dark-mode) & {
            color: rgb(0 138 230 / 50%);
            background-color: rgb(0 138 230 / 10%);
            box-shadow:
              rgb(0 0 0 / 0%) 0 0 0 0,
              rgb(0 0 0 / 0%) 0 0 0 0,
              rgb(0 138 230 / 50%) 2px 0 0 0 inset;
          }
        }

        & [data-highlighted-chars] {
          background-color: rgb(0 76 163 / 10%);
          border-radius: 0.125rem;
          box-shadow:
            rgb(0 0 0 / 0%) 0 0 0 0,
            rgb(0 0 0 / 0%) 0 0 0 0,
            rgb(0 76 163 / 10%) 0 0 0 2px;

          :global(.dark-mode) & {
            background-color: rgb(138 208 255 / 15%);
            box-shadow:
              rgb(0 0 0 / 0%) 0 0 0 0,
              rgb(0 0 0 / 0%) 0 0 0 0,
              rgb(138 208 255 / 15%) 0 0 0 2px;
          }
        }
      }
    }
  }

  table {
    border-collapse: collapse;

    margin-top: 1.5rem;

    color: var(--mdx-color-text-primary);

    border: 1px solid var(--mdx-color-bg-table-header);
    border-radius: 2px;
  }

  th {
    padding: 6px 24px;

    font-size: var(--mdx-font-size-s);
    font-weight: 500;
    line-height: var(--mdx-line-height-m);
    text-align: left;
    white-space: nowrap;

    background-color: var(--mdx-color-bg-table-header);

    &[align='center'] {
      text-align: center;
    }

    &[align='right'] {
      text-align: right;
    }
  }

  td {
    padding: 6px 24px;

    font-size: var(--mdx-font-size-s);
    line-height: var(--mdx-line-height-m);

    background-color: var(--mdx-color-bg-table);
    border-bottom: 1px solid var(--mdx-color-bg-table-header);
  }

  :global(.dark-mode) & code {
    background-color: rgb(255 255 255 / 20%);
    border: 1px solid rgb(255 255 255 / 7%);
  }

  :global(.dark-mode) & pre code {
    background-color: transparent;
    border-style: none;
  }
}
