.box {
  position: relative;
}

.input {
  &[data-open] {
    padding-right: 32px;
    border-radius: var(--border-radius-s) var(--border-radius-s) 0 0;
  }

  &.hasClearButton {
    padding-right: 52px;
  }
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  position: absolute;
  right: 5px;
  bottom: 18px;
  transform: translateY(50%);

  border: none;
  background-color: transparent;

  width: 24px;
  height: 24px;

  &[data-disabled] {
    cursor: initial;
    color: var(--color-text-disabled);
  }
}

.clearButton {
  cursor: pointer;

  position: absolute;
  right: 29px;
  bottom: 18px;
  transform: translateY(50%);

  width: 18px;
  height: 18px;

  &[data-disabled] {
    cursor: initial;
    color: var(--color-text-disabled);
  }
}

.empty {
  border: none;
}

.icon {
  transition: var(--transtition-duration-basic) transform;
}

.spinner {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.content {
  width: var(--input-width);
}
