@mixin button {
  cursor: pointer;

  display: flex;
  align-items: center;

  padding: 0.5rem 1.75rem;

  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  text-align: center;
  text-decoration: none;
  background-color: transparent;

  border: none;
  border-radius: 2rem;

  transition: 200ms background-color, 200ms color;

  &:focus-visible {
    outline: 2px solid var(--color-outline-focus);
  }

  &:disabled {
    cursor: initial;
  }
}

.primary {
  @include button;

  color: var(--color-neutral-light-50);
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px rgb(245 26 81 / 35%), inset 0 1px 0 rgb(255 255 255 / 30%);

  &:hover {
    background-color: var(--color-accent-400);
  }

  &:active {
    background-color: var(--color-accent-600);
  }

  &:disabled {
    color: var(--color-button-text-disabled);
    background-color: var(--color-button-disabled);
  }
}

.secondary {
  @include button;
  color: var(--color-text-primary);
  background: var(--color-button-bg-secondary);
  box-shadow: 0 2px 10px rgba(109 109 109 / 25%);

  &:hover:not(&:disabled) {
    background-color: var(--color-button-bg-secondary-hover);
  }

  &:active:not(&:disabled) {
    background-color: var(--color-button-bg-secondary-active);
  }

  &:disabled {
    color: var(--color-button-text-secondary-disabled);
  }
}

.outlined {
  @include button;

  border: 1px solid currentColor;

  color: var(--color-accent-500);

  &:hover:not(&:disabled) {
    color: var(--color-accent-600);
    background-color: var(--color-button-bg-outline-hover);
  }

  &:active:not(&:disabled) {
    background-color: var(--color-button-bg-outline-active);
  }

  &:disabled {
    color: var(--color-button-disabled);
  }
}
