.themeBlock {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50vw;

  overflow: auto;

  width: 50%;
  height: 100vh;
  padding: 1rem;

  color: #0d0b0c;

  background: #fffefe;

  &.dark-mode {
    color: #fffefe;
    background: #0e1720;
  }

  &.left {
    right: 50%;
    left: 0;
    width: 50%;
    border-right: 1px solid #202020;
  }

  &.fill {
    right: 0;
    left: 0;
    width: 100%;
  }

  &.docs {
    all: unset;
  }
}
