.box {
  position: fixed;
  top: 0;
  left: 0;

  display: inline-flex;
  justify-content: space-between;

  height: 100vh;

  color: var(--color-text-primary);

  background-color: var(--color-bg-element);

  &.open {
    width: var(--sidebar-width);
  }
}

.contentBox {
  display: none;

  &.open {
    display: block;
  }
}

.button {
  all: unset;

  cursor: pointer;

  width: 24px;

  background-color: var(--color-bg-dividers);

  transition: var(--transtition-duration-basic) background-color;

  &:hover {
    background-color: var(--color-bg-secondary-hover);
  }

  &:focus-visible {
    outline: 2px solid var(--color-outline-focus);
  }
}

.icon {
  &.open {
    transform: rotate(180deg);
  }
}
