.trigger {
  display: flex;
  width: 100%;
  gap: 11px;
  align-items: center;
  justify-content: space-between;

  height: 36px;
  padding: 9px 8px 8px 12px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-text-primary);
  background-color: var(--color-bg-element);

  border-radius: var(--border-radius-s);
  border: 1px solid var(--color-border-primary);

  cursor: pointer;
  outline: none;

  &[data-headlessui-state="open"] {
    border-radius: var(--border-radius-s) var(--border-radius-s) 0 0;

    & .icon {
      transform: rotate(180deg);
    }
  }


  &:hover:not(&:disabled), &:focus, &[data-headlessui-state="open"] {
    border-color: var(--color-border-primary-active);
  }

  &:disabled {
    cursor: auto;
    opacity: 0.7;
  }

  &.error {
    border-color: var(--color-accent-500);
  }

  &.secondary {
    background-color: transparent;
    width: fit-content;
    border: none;
  }

  &.secondary {
    span:first-child {
      padding-bottom: 1px;
      color: var(--color-info-400);
      background-image: linear-gradient(to right, var(--color-info-400) 40%, var(--color-bg-element) 0%);
      background-position: left 12px bottom;
      background-size: 4px 1px;
      background-repeat: repeat-x;
    }
  }

  &.secondary:focus span:first-child {
    color: var(--color-info-600);
    background-image: linear-gradient(to right, var(--color-info-600) 40%, var(--color-bg-element) 0%);
  }

  &.pagination {
    padding: 4px 6px;
    gap: 3px;
  }
}

.icon {
  transition: 200ms transform;

  &.secondary path {
    stroke: var(--color-info-400);
  }

  &.pagination svg {
    width: 6px;
    height: 10px;
  }

  &.pagination path {
    stroke: var(--color-text-primary);
  }
}

.content {
  overflow: hidden;
  background-color: var(--color-bg-element);
  border-radius: 0 0 var(--border-radius-s) var(--border-radius-s);
  border: 1px solid var(--color-border-primary-active);
  border-top: none;

  &.secondary {
    border: 1px solid var(--color-border-primary);

    & .item {
      &[data-headlessui-state="active"],
      &[data-headlessui-state="selected"],
      &[data-headlessui-state="active selected"], {
        color: var(--color-neutral-light-50);
        background-color: var(--color-info-400);
      }
    }
  }
}

.viewport {
  padding: 12px 0;
}

.item {
  padding: 6px 12px;
  outline: none;

  cursor: pointer;

  transition: 200ms background-color, 200ms color;

  // todo: different colors for selected and active?
  &[data-headlessui-state="active"],
  &[data-headlessui-state="selected"],
  &[data-headlessui-state="active selected"], {
    background-color: var(--color-bg-element-hover);
  }
}


.scrollRoot {
  width: 100%;
  height: 100%;
}

.scrollViewport {
  width: 100%;
  max-height: 157px;
}

.scrollbar {
  margin-top: 13px;
  margin-bottom: 13px;
  width: 8px;
  padding: 12px 1px;
  margin-right: 4px;
  user-select: none;
  background-color: var(--color-bg-scrollbar);
  border-radius: var(--border-radius-l);
}

.scrollThumb {
  height: 60px;
  background-color: var(--color-border-primary);
  border-radius: 3px;
}

.errorText {
  color: var(--color-accent-500);
  margin: 4px 0 0;
  font-size: var(--font-size-sx);
  line-height: var(--line-height-sx);
}
