.tag {
  --_bg-color: var(--bg-color, var(--color-button-bg-secondary));
  --_text-color: var(--text-color, var(--color-text-primary));

  all: unset;

  display: inline-flex;

  box-sizing: border-box;
  width: fit-content;
  height: 24px;
  padding-right: 16px;
  padding-left: 12px;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--_text-color);

  background-color: var(--_bg-color);
  border-radius: 30px;
  box-shadow: var(--tag-box-shadow);

  transition: var(--transtition-duration-basic) background-color;

  &:focus-visible {
    outline: var(--outline-focus);
  }

  &.clickable {
    cursor: pointer;
    user-select: none;

    &:hover {
      --bg-color: var(--color-tag-hover);
    }

    &:active {
      --bg-color: var(--color-tag-active);
    }
  }

  &.primary {
    &[data-state='on'] {
      --bg-color: var(--color-info-500);
      --text-color: var(--color-neutral-light-50);

      &.clickable {
        cursor: pointer;

        &:hover {
          --bg-color: var(--color-info-400);
        }

        &:active {
          --bg-color: var(--color-info-700);
        }
      }
    }
  }

  &.secondary {
    --bg-color: var(--color-accent-50);

    border: 1px solid var(--color-accent-500);
    box-shadow:
      0 2px 10px 0 rgb(109 109 109 / 25%),
      0 1px 0 0 rgb(255 255 255 / 30%) inset;

    &.clickable {
      &:hover {
        --bg-color: var(--color-accent-100);
      }

      &:active {
        --bg-color: var(--color-accent-200);
      }
    }

    &[data-state='on'] {
      --bg-color: var(--color-accent-500, #f51a51);
      --text-color: var(--color-neutral-light-50);

      box-shadow:
        0 2px 10px 0 rgb(109 109 109 / 25%),
        0 1px 0 0 rgb(255 255 255 / 30%) inset;

      &.clickable {
        &:hover {
          --bg-color: var(--color-accent-400);
        }

        &:active {
          --bg-color: var(--color-accent-600);
        }
      }
    }

    :global(.dark-mode) & {
      --bg-color: var(--color-accent-900);

      border: 1px solid var(--color-accent-500);
      box-shadow:
        0 2px 18px 0 rgb(54 80 109 / 25%),
        0 1px 0 0 rgb(79 79 79 / 30%) inset;

      &.clickable {
        &:hover {
          --bg-color: var(--color-accent-800);
        }

        &:active {
          --bg-color: var(--color-accent-700);
        }
      }

      &[data-state='on'] {
        --bg-color: var(--color-accent-500, #f51a51);

        box-shadow:
          0 2px 10px 0 rgb(109 109 109 / 25%),
          0 1px 0 0 rgb(255 255 255 / 30%) inset;

        &.clickable {
          &:hover {
            --bg-color: var(--color-accent-400);
          }

          &:active {
            --bg-color: var(--color-accent-600);
          }
        }
      }
    }
  }
}
