.table {
  border-collapse: collapse;
  color: var(--color-text-primary);
  border: 1px solid var(--color-bg-dividers);
  border-radius: var(--border-radius-s);
}

.headCell {
  padding: 6px 24px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-m);

  background-color: var(--color-bg-dividers);
}

.tableCell {
  padding: 6px 24px;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);

  background-color: var(--color-bg-table);
  border-bottom: 1px solid var(--color-bg-dividers);
}

.empty {
  display: flex;
  justify-content: center;
  width: 100%;
}
