.search input {
  padding-left: 40px;

  background-size: 16px 16px;
  background-position: 12px center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5716 5.85711C10.5716 8.46074 8.46098 10.5714 5.85735 10.5714C3.25372 10.5714 1.14307 8.46074 1.14307 5.85711C1.14307 3.25348 3.25372 1.14282 5.85735 1.14282C8.46098 1.14282 10.5716 3.25348 10.5716 5.85711ZM9.52874 10.2361C8.53575 11.0695 7.25516 11.5714 5.85735 11.5714C2.70144 11.5714 0.143066 9.01302 0.143066 5.85711C0.143066 2.7012 2.70144 0.142822 5.85735 0.142822C9.01327 0.142822 11.5716 2.7012 11.5716 5.85711C11.5716 7.25517 11.0696 8.53596 10.2359 9.52903L13.0676 12.3608C13.2629 12.556 13.2629 12.8726 13.0676 13.0679C12.8724 13.2631 12.5558 13.2631 12.3605 13.0679L9.52874 10.2361Z' fill='%238C8889'/%3E%3C/svg%3E%0A");
}
