.select-trigger {
  width: 300px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  height: 36px;
  padding: 9px 8px 8px 12px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-text-primary);
  background-color: var(--color-bg-element);

  border-radius: var(--border-radius-s);
  border: 1px solid var(--color-border-primary);

  cursor: pointer;
  outline: none;

  &[data-state="open"] .select-icon {
    transform: rotate(180deg);
  }
}

.select-icon {
  transition: 200ms transform;
}

.select-content {
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
  overflow: hidden;
  background-color: white;
  border-radius: 0 0 var(--border-radius-s) var(--border-radius-s);
  border: 1px solid var(--color-border-primary);
  border-top: none;
}

.select-viewport {
  max-height: 157px;
  padding: 12px 0;
}

.select-item {
  padding: 6px 12px;
  outline: none;

  cursor: pointer;

  transition: 200ms background-color;

  &:hover,
  &:focus {
    background-color: var(--color-bg-element-hover);
  }
}
